$template-color: #3b8d82;
$default-font-family: "PT Sans Caption";
$default-button-color: #ffffff;
$default-active-button: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
$default-disabled-button: linear-gradient(180deg, #B1B1B1 0%, #777777 100%);
$default-box-shadow-button: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
